.panel {
  width: 400px;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 8px;
  margin: 8px;
  font-size: 1.25rem;
  flex-direction: column;
}
.title {
  min-height: 26px;
}
.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}
.fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 300ms, opacity 300ms;
}
.hide {
  display: none;
}
.show {
  display: flex;
}
